all:
    children:
        registry:
            hosts:
                registry-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    ansible_python_interpreter: /usr/bin/python3
        site:
            hosts:
                site-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    ansible_python_interpreter: /usr/bin/python3
        jenkins_manager:
            hosts:
                jenkins-manager-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    ansible_python_interpreter: /usr/bin/python3
        jenkins_agent:
            hosts:
                jenkins-agent-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.1
                    ansible_port: 22
                    ansible_python_interpreter: /usr/bin/python3